In [1]:
import numpy as np 
import pandas as pd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

import pickle

In [2]:
data_dir = '/home/simon/Documents/Bodies/data/OD_dataframes_compiled/'

with open(f'{data_dir}df_od_full.pkl', 'rb') as file:
    df_full = pickle.load(file)

fix_dict = {'Habur border crossing' : 'Habur Port', 'Basra Basra' : 'Basra', 'Basrah' : 'Basra', 'Baghdad05' : 'Baghdad','Arab jabour' : 'Baghdad',
            'Arab Jabour': 'Baghdad', 'Hay al Waahda' : 'Bagdad', 'Taqqadum' : 'Al Taqaddum', 'Ouwja' : 'Al-Awja', 'Husayba' : 'Husaybah', 
            "no-man's land": 'Al Karamah Border Crossing', 'Zacho' : 'Zaxo'}

df_full.replace(fix_dict, inplace= True)
cities = df_full['city'].unique()[1:]#You do not take nan

In [3]:
latitude = []
longitude = []
geo_countries = []

latitude_irq = []
longitude_irq = []
geo_countries_irq = []

for i in cities: 
    geolocator = Nominatim(user_agent='spm@ifs.ku.dk')
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
    
    try: # the idea here is to catch both timeout and non-returns
        location = geocode(i)

        latitude.append(location.latitude)
        longitude.append(location.longitude)
        geo_countries.append(location.address.split(',')[-1])
    
    except:

        latitude.append(None)
        longitude.append(None)
        geo_countries.append(None)

    try:

        location_irq = geocode(f'{i}, Iraq')

        latitude_irq.append(location_irq.latitude)
        longitude_irq.append(location_irq.longitude)
        geo_countries_irq.append(location_irq.address.split(',')[-1])

    except:

        latitude_irq.append(None)
        longitude_irq.append(None)
        geo_countries_irq.append(None)

df_cities = pd.DataFrame({'city' : cities, 'latitude' : latitude, 'longitude' : longitude, 'geo_country': geo_countries, 
                          'latitude_irq' : latitude_irq, 'longitude_irq' : longitude_irq, 'geo_country_irq': geo_countries_irq })

In [17]:
translation_dict = {' العراق' : 'Iraq', ' الأردن' : 'Jordan', ' السعودية' : 'Saudi Arabia', ' سوريا' : 'Syria', ' Türkiye' : 'Turkey' }
df_cities.replace(translation_dict, inplace = True)

In [18]:
df_cities

,city,latitude,longitude,geo_country,latitude_irq,longitude_irq,geo_country_irq
0,Baghdad,33.302431,44.378799,Iraq,33.302431,44.378799,Iraq
1,Basra,30.495237,47.809098,Iraq,30.495237,47.809098,Iraq
2,Husaybah,33.420684,43.453298,Iraq,33.420684,43.453298,Iraq
3,Baquba,33.743727,44.649523,Iraq,33.743727,44.649523,Iraq
4,Karabilah,34.390889,41.046437,Iraq,34.390889,41.046437,Iraq
5,Mosul,36.343694,43.099716,Iraq,36.343694,43.099716,Iraq
6,Ad Dawr,34.458349,43.795799,Iraq,34.458349,43.795799,Iraq
7,Hilla,32.482245,44.432813,Iraq,32.482245,44.432813,Iraq
8,Samarra,34.200000,43.900000,Iraq,34.200000,43.900000,Iraq
9,Dujail,33.837069,44.247461,Iraq,33.837069,44.247461,Iraq
10,Ar Rabit,34.427567,41.037860,Iraq,34.427567,41.037860,Iraq
11,Bagdad,33.302431,44.378799,Iraq,33.302431,44.378799,Iraq
12,Fallujah,33.353214,43.787567,Iraq,33.353214,43.787567,Iraq
13,Habbaniyah,33.278889,43.688611,Iraq,33.278889,43.688611,Iraq
14,Al Taqaddum,33.332207,43.600520,Iraq,33.332207,43.600520,Iraq
15,Kerbala,32.451170,43.819662,Iraq,32.451170,43.819662,Iraq
16,Al-Awja,31.949040,35.465486,Palestinian Territory,34.533333,43.733333,Iraq
17,Abu Ghraib,33.304525,44.146337,Iraq,33.304525,44.146337,Iraq
18,Kirkuk,35.470342,44.395723,Iraq,35.470342,44.395723,Iraq
19,Al Qaim,36.508797,43.184534,Iraq,36.508797,43.184534,Iraq
20,Taji,33.529892,44.277464,Iraq,33.529892,44.277464,Iraq
21,Rawah,35.081981,43.101652,Iraq,35.081981,43.101652,Iraq
22,Balad,34.001313,44.152789,Iraq,34.001313,44.152789,Iraq
23,Al Karamah Border Crossing,32.726500,38.979640,Jordan,NaN,NaN,None
24,Baqouba,33.743727,44.649523,Iraq,33.743727,44.649523,Iraq
25,Ramadi,33.425986,43.299922,Iraq,33.425986,43.299922,Iraq
26,Al-Samawa,24.608853,46.844328,Saudi Arabia,31.330956,45.429412,Iraq
27,Kara-Ula,31.596787,35.028491,Palestinian Territory,NaN,NaN,None
28,Zaxo,37.154300,42.700787,Iraq,37.154300,42.700787,Iraq
29,Al Asad,36.079277,38.069992,Syria,NaN,NaN,None
30,Najaf,32.001023,44.329993,Iraq,32.001023,44.329993,Iraq
31,Cizre,37.327481,42.189461,Turkey,NaN,NaN,None
32,Sirnak,37.521958,42.457031,Turkey,NaN,NaN,None
33,Falluja,33.353214,43.787567,Iraq,33.353214,43.787567,Iraq
34,cizre,37.327481,42.189461,Turkey,NaN,NaN,None
35,Habur Port,37.149920,42.568510,Turkey,NaN,NaN,None
36,Manhattan,40.789624,-73.959894,United States,40.776342,-73.962847,United States

In [19]:
for i in range(0, df_cities.shape[0]):

    if df_cities.iloc[i]['latitude'] != df_cities.iloc[i]['latitude_irq'] or df_cities.iloc[i]['longitude'] != df_cities.iloc[i]['longitude_irq']:
        print(f'{df_cities.iloc[i]["city"]} {df_cities.iloc[i]["geo_country"]}')
        print()
        print('\n')

Al-Awja  Palestinian Territory



Al Karamah Border Crossing Jordan



Al-Samawa Saudi Arabia



Kara-Ula  Palestinian Territory



Al Asad Syria



Cizre Turkey



Sirnak Turkey



cizre Turkey



Habur Port Turkey



Manhattan  United States